
body {
    background-image: url("https://images.unsplash.com/photo-1590959651373-a3db0f38a961?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2539&q=80");
        height: 100vh;
        background-repeat: repeat-y;
        max-height: 400px; 
        overflow-y: auto;
        
}

/* Custom CSS to change color to white */
.navbar-toggler-icon.white {
    border-color: white;
  }

  
/* Logo */
.link-light {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/**** Image ****/

.container__img {
    width: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 7% !important;
}


/******/

.container {
    margin-top: 8% !important;
}

@media only screen and (min-width: 300px) {
    .container {
        margin-top: 20% !important;
    }
  }

  @media only screen and (min-width: 600px) {
    .container {
        margin-top: 15% !important;
    }
  }

  @media only screen and (min-width: 1000px) {
    .container {
        margin-top: 10% !important;
    }
  }


/**********/

footer {
    margin-top: 0%;
}

  
  

