
body {
    background-image: url("https://images.unsplash.com/photo-1585079542156-2755d9c8a094?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2274&q=80");
        height: 100vh;
        background-repeat: repeat-y;
        max-height: 400px; 
        overflow-y: auto;
        
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/* Active Link */
/* Add this CSS to your stylesheet */
.navbar-nav .nav-item.active .nav-link {
    text-decoration: underline;
}

/********/

.container {
    margin-top: 5% !important;
}

@media only screen and (min-width: 300px) {
    .container {
        margin-top: 15% !important;
    }
  }

@media only screen and (min-width: 350px) {
    .container {
        margin-top: 15% !important;
    }
  }

@media only screen and (min-width: 400px) {
    .container {
        margin-top: 15% !important;
    }
  }

@media only screen and (min-width: 1000px) {
    .container {
        margin-top: 10% !important;
    }
  }


/**** Card *****/
.card {
    width: 30% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    margin-top: 4% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
  }

@media only screen and (min-width: 350px) {
    .card {
        width: 80% !important;
        margin-top: 25% !important;
        margin-bottom: 10% !important;
    }
  }

@media only screen and (min-width: 400px) {
    .card {
        width: 80% !important;
        margin-top: 20% !important;
        margin-bottom: 10% !important;
    }
  }

  @media only screen and (min-width: 600px) {
    .card {
        width: 70% !important;
        margin-top: 5% !important;
        margin-bottom: 10% !important;
    }
  }

  @media only screen and (min-width: 700px) {
    .card {
        width: 60% !important;
        margin-top: 5% !important;
        margin-bottom: 10% !important;
    }
  }

  @media only screen and (min-width: 800px) {
    .card {
        width: 50% !important;
        margin-top: 5% !important;
        margin-bottom: 10% !important;
    }
  }

  @media only screen and (min-width: 900px) {
    .card {
        width: 50% !important;
        margin-top: 1% !important;
        margin-bottom: 10% !important;
    }
  }

  @media only screen and (min-width: 1000px) {
    .card {
        width: 40% !important;
        margin-top: 5% !important;
        margin-bottom: 10% !important;
    }
  }

  @media only screen and (min-width: 1100px) {
    .card {
        width: 40% !important;
        margin-top: 1% !important;
        margin-bottom: 10% !important;
    }
  }



.card__text {
    text-align: center !important;
}


/***********/

footer {
    margin-bottom: -10%;
}

@media only screen and (min-width: 350px) {
    footer {
        margin-top: 72% !important;
    }
  }

@media only screen and (min-width: 400px) {
    footer {
        margin-top: 57% !important;
    }
  }

  @media only screen and (min-width: 450px) {
    footer {
        margin-top: 43% !important;
    }
  }

  @media only screen and (min-width: 500px) {
    footer {
        margin-top: 31% !important;
    }
  }

  @media only screen and (min-width: 550px) {
    footer {
        margin-top: 22% !important;
    }
  }

  @media only screen and (min-width: 600px) {
    footer {
        margin-top: 29% !important;
    }
  }

  @media only screen and (min-width: 700px) {
    footer {
        margin-top: 28% !important;
    }
  }

  @media only screen and (min-width: 800px) {
    footer {
        margin-top: 19% !important;
    }
  }

  @media only screen and (min-width: 900px) {
    footer {
        margin-top: 15% !important;
    }
  }


@media only screen and (min-width: 1000px) {
    footer {
        margin-top: 20% !important;
    }
  }

  @media only screen and (min-width: 1100px) {
    footer {
        margin-top: 15% !important;
    }
  }