

body {
    background-image: url("https://images.unsplash.com/photo-1555066931-78c471f0d4ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    height: 100vh;    
    max-height: 400px; 

}

/*******/

.container {
    margin-top: 10% !important;
}

@media only screen and (min-width: 350px) {
    .container {
        margin-top: 20% !important;
    }
  }

  @media only screen and (min-width: 550px) {
    .container {
        margin-top: 10% !important;
    }
  }

  @media only screen and (min-width: 600px) {
    .container {
        margin-top: 10% !important;
    }
  }

  @media only screen and (min-width: 700px) {
    .container {
        margin-top: 10% !important;
    }
  }

  @media only screen and (min-width: 800px) {
    .container {
        margin-top: 10% !important;
    }
  }

  @media only screen and (min-width: 850px) {
    .container {
        margin-top: 10% !important;
    }
  }

  @media only screen and (min-width: 950px) {
    .container {
        margin-top: 10% !important;
    }
  }

  @media only screen and (min-width: 1000px) {
    .container {
        margin-top: 10% !important;
    }
  }


/********/

/* Custom CSS to change color to white */
.navbar-toggler-icon.white {
    border-color: white;
  }

  
/* Logo */
.link-light {
    color: white !important;
}


.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/* Active Link */
/* Add this CSS to your stylesheet */
.navbar-nav .nav-item.active .nav-link {
    text-decoration: underline;
}

/** Dropdown Menu **/
a.dropdown-menu__link:hover {
  background: darkgray !important;
  color: black !important;
}


/** Animation **/
div.container__animation {
  opacity: 1;
  animation-name: text-reappear;
  animation-duration: 2s !important;
  /* animation-delay: 1s !important; */
}

@keyframes text-reappear {
  0% {opacity: 0.1 ;}
  10% {opacity: 0.2 ;}
  75% {opacity: 0.9 ;}
  100% {opacity: 1 ;}
}

/** Footer **/

footer {
    margin-top: 20%;
}

@media screen and (min-width: 400px) {
    footer {
        margin-top: 30%;
    }
  }

  
  

