
body {
    background-image: url("https://images.unsplash.com/photo-1616836417940-8898b8ef794d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80");
        height: 100vh;
        background-repeat: repeat-y;
        max-height: 400px; 
        
}

/* Custom CSS to change color to white */
.navbar-toggler-icon.white {
    border-color: white;
  }

  
/* Logo */
.link-light {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/* Active Link */
/* Add this CSS to your stylesheet */
.navbar-nav .nav-item.active .nav-link {
    text-decoration: underline;
}

/* Body */
.bd-example {
    margin-top: 5%;
    margin-bottom: 5%;
}

#pills-home {
    margin-bottom: 7%;
}

.nav-item__link {
    color: white !important;
}

/*****/
.container {
    margin-top: 6% !important;
}

@media screen and (min-width: 350px) {
    .container {
        margin-top: 20% !important;
    }
  }

@media screen and (min-width: 400px) {
    .container {
        margin-top: 20% !important;
    }
  }

  @media screen and (min-width: 650px) {
    .container {
        margin-top: 20% !important;
    }
  }

  @media screen and (min-width: 800px) {
    .container {
        margin-top: 10% !important;
    }
  }

  @media screen and (min-width: 900px) {
    .container {
        margin-top: 10% !important;
    }
  }

  @media screen and (min-width: 1000px) {
    .container {
        margin-top: 10% !important;
    }
  }

/** Content - Sass **/


/***/

footer {
    margin-top: 4%;
}
