@import 'djhi12.github.io/Advance CSS New/Week 7/_mixins.scss';
@import 'djhi12.github.io/Advance CSS New/Week 7/_variables.scss';

main {
    max-width: 890px;
    margin: auto;
    margin-top: 20px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



// make column classes 
@for $index from $loop-start to $loop-end {
    .col-#{ $index } {
        @include col($index);
    }
}

// make offset classes
@for $index from $loop-start to $loop-end {
    .offset-#{$index} {
        @include offset($index);
    }
}