@import url("/Advance CSS New/Week 7/_variables.scss");
@import url("/Advance CSS New/Week 7/_classes.scss");
@import url("/Advance CSS New/Week 7/_mixins.scss");
@import url("/Advance CSS New/Week 7/_for-loop.scss");



main {
    max-width: 890px;
    margin: auto;
    margin-top: 20px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
