@import 'djhi12.github.io/Advance CSS New/Week 7/_mixins.scss';
@import 'djhi12.github.io/Advance CSS New/Week 7/_variables.scss';
@import 'djhi12.github.io/Advance CSS New/Week 7/_classes.scss';
@import 'djhi12.github.io/Advance CSS New/Week 7/_for-loop.scss';

main {
    max-width: 890px;
    margin: auto;
    margin-top: 20px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
