main {
    font-family: 'Montserrat';
    max-width: 960px;
    margin: auto;
    // background: lightblue;
}

hr {
    margin-top: 30px;
}


/************* CSS Transitions *************/

.css-transition {
    transition-property: opacity, left, top, width;
    transition-duration: 2s, 1s;
    background: lightgreen;
    max-width: 299px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    text-align: left;
}

/******* Creating Your First Transition ********/

a {
    transition: 1s;
    color: white;
    // padding: 10px;
}

a:link {
    background: red;
    font-size: 20px;
}

a:hover {
    background: green;
    font-size: 50px;
}


