// Chromium 

// 2560


// 2304

// 1920

// 1440

// 1366

// 1280 
@use '@Media-Index/index-1280';

// 1024

// 834

// 810

// 768

// 480

// 450
@use '@Media-Index/index-450';

// 430
@use '@Media-Index/index-430';

// 420


// 414


// 412
@use '@Media-Index/index-412';

// 390

// 375

// 360

// 320



/******************/
body {
    margin: 0px;
    // background: red;
}

main {
    max-width: 960px;
    margin: auto;

    & > h1 {
        text-align: center;
    }
}

