@media only screen {
  body {
    margin: 0;
    height: 100%;
  }

  h1, h2 {
    font-family: "Montserrat", sans-serif;
  }

  span {
    color: #038229;
    font-family: "Montserrat", sans-serif;
  }

  ul.navList li {
    font-family: "Montserrat", sans-serif;
  }
  ul.navList li a {
    color: #038229;
  }
}
/* @media 440 */
@media only screen and (max-width: 440px) {
  h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }

  /* Logo */
  div.logo img {
    max-width: 50px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .logo {
    float: left;
  }

  div span {
    text-align: center;
    position: absolute;
    margin-top: 20px;
  }

  /* Menu Bar */
  *,
*:before,
*:after {
    box-sizing: border-box;
  }

  label .menu {
    position: absolute;
    right: 0px;
    top: -110px;
    z-index: 100;
    width: 110px;
    height: 110px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }

  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #038229;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #038229;
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input {
    display: none;
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  label ul {
    z-index: 200;
    position: absolute;
    top: 35%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
    list-style-type: none;
    width: 100%;
  }

  label a {
    margin-bottom: 1em;
    display: block;
    color: black;
    text-decoration: none;
    /* float: left; */
    list-style-type: none;
  }

  /* Business Image */
  div.businessPhoto img {
    max-width: 100%;
  }

  div.businessPhoto p {
    position: absolute;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    top: 130px;
    left: 37px;
    background: rgba(3, 129, 41, 0.7);
    padding: 20px;
  }

  /* MAIN */
  div.summary h1 {
    font-size: 30px;
    top: 60%;
    text-align: center;
  }
  div.summary ul {
    position: absolute;
    top: 70%;
    left: 15%;
    font-family: "Open Sans", sans-serif;
  }

  .credibility {
    position: absolute;
    top: 120%;
  }
  .credibility h2 {
    position: absolute;
    top: -15%;
    left: 40%;
    text-align: center;
  }
  .credibility img {
    max-width: 100%;
    height: 3 0px;
  }
  .credibility p {
    font-family: "Open Sans", sans-serif;
    margin: 20px;
  }

  .brand {
    position: absolute;
    top: 205%;
  }
  .brand h2 {
    position: absolute;
    top: -15%;
    left: 43%;
    text-align: center;
  }
  .brand img {
    max-width: 100%;
    height: 3 0px;
  }
  .brand p {
    font-family: "Open Sans", sans-serif;
    margin: 20px;
  }

  .leads {
    position: absolute;
    top: 300%;
  }
  .leads h2 {
    position: absolute;
    top: -15%;
    left: 43%;
    text-align: center;
  }
  .leads img {
    max-width: 100%;
    height: 3 0px;
  }
  .leads p {
    font-family: "Open Sans", sans-serif;
    margin: 20px;
  }

  .traffic {
    position: absolute;
    top: 390%;
  }
  .traffic h2 {
    position: absolute;
    top: -15%;
    left: 32%;
    text-align: center;
  }
  .traffic img {
    max-width: 100%;
    height: 3 0px;
  }
  .traffic p {
    font-family: "Open Sans", sans-serif;
    margin: 20px;
  }

  .customer-service {
    position: absolute;
    top: 485%;
  }
  .customer-service h2 {
    position: absolute;
    top: -20%;
    left: 5%;
    text-align: center;
  }
  .customer-service img {
    max-width: 100%;
    height: 3 0px;
  }
  .customer-service p {
    font-family: "Open Sans", sans-serif;
    margin: 20px;
  }

  .announcements-updates {
    position: absolute;
    top: 580%;
  }
  .announcements-updates h2 {
    position: absolute;
    top: -15%;
    left: 5%;
    text-align: center;
  }
  .announcements-updates img {
    max-width: 100%;
    height: 3 0px;
  }
  .announcements-updates p {
    font-family: "Open Sans", sans-serif;
    margin: 20px;
  }

  /* Footer */
  div.footer {
    padding-top: 900%;
  }
  div.footer .copyRight div {
    position: absolute;
    bottom: 0%;
    left: 30%;
    font-family: "Open Sans", sans-serif;
  }
  div.footer .copyRight {
    position: absolute;
    top: 800%;
    left: 20%;
  }
  div.footer .copyRight p {
    bottom: 1%;
    font-family: "Open Sans", sans-serif;
  }
}

/*# sourceMappingURL=main.css.map */
