/*
LOGO COLOR: #66FFCC (light green), 
#0099FF (blue), 
#1f7a1f (dark green), 
#66ff66 (light-green),
#4dffff (sky-blue)


font-family: 'Roboto', sans-serif; (Heading)
font-family: 'Montserrat', sans-serif; (Paragraph)

logo-background-color: #1a1a1a;
hover: #999999; (gray);

footer background-color: #e6e6e6 (light-gray);


*/


body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif; 
}

p {
    font-family: 'Montserrat', sans-serif;
}

/*-----HEADER--------*/


img.logo-300-new {
    width: 30%;
}


/*------NAVIGATION-------*/

ul#primaryNav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color:#1a1a1a;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    max-width: 800px;

    
}

nav {
    background-color: #1a1a1a;
}

li {
    float: left;
}

li a.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #999999;
}

button {
    display: none;
}

#active {
    background-color: #1f7a1f;
    color: white;
}

/*------------------------------------------------------------------------------*/

/*
FORM
*/
.reservation {
    max-width: 700px;
    margin: auto;
    border-style: ridge;
    border-width: 1px;
    box-shadow: 3px 5px 10px lightgray;
    margin-top: 15px;
}


.div-reservation {
    margin: 15px;
}

/*
<!--FULLNAME-->
*/
.fullname {
    font-family: 'Roboto', sans-serif;
}

#fullname {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
}

/*
<!--email-->
*/
.email {
    font-family: 'Roboto', sans-serif;
}

#email {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
}

/*
<!--phone-->
*/
.phone {
    font-family: 'Roboto', sans-serif;
}

#phone {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
}

/*
<!--zip-code-->
*/
.zip-code {
    font-family: 'Roboto', sans-serif;
}

#zip-code {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
}

/*
<!--country-->
*/
.country {
    font-family: 'Roboto', sans-serif;
}

#country {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
}



/*
<!--comments-->
*/
.comments {
    font-family: 'Roboto', sans-serif;
}

#comments {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
}

/*
<!--submit-->
*/


#submit {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
}

#submit:hover {
    background-color: #1f7a1f;
    color: white;
}


/*-------------------------------------------------------------------------------*/
/*
FOOTER-1
*/
.sources-contacts {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    background-color: #e6e6e6;
    padding-left: 15%;
    margin-top: 150px;
}

.sources a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.sources a:hover {
    color: #1f7a1f;
}


/*
FOOTER-2
*/
/*---------FOOTER------*/
.copy-right {
    margin-top: 10px;
    text-align: center;
}


