/*-----32.5em----*/
 
body {
    margin: 100px;
}

.image {
    box-shadow: 3px 3px 3px gray;
    max-width: 100%;
}

/*------Design Principles---------*/
.title0 {
    color: white;
    background-color: blue;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    width: 300px;
    font-size: 30px;
    text-align: left;
}

.heading1 {
    color: white;
    background-color: blue;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    width: 230px;
    height: 20px;

}

/*-----Design topics/3 principles------*/
.heading2 {
    color: white;
    background-color: blue;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 15px;
    width: 150px;
    height: 40px;
    text-align: center;

}

/*-----Design Topics-------*/
.heading4 {
    color: white;
    background-color: blue;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    width: 300px;
    height: 15px;
}



.heading3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-family: 'Monserrat', sans-serif;
    font-size: 13px;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a:link {
    text-decoration: none; 
}

footer {
    color: white;
    background-color: blue;
    padding: 23px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    margin-top: 50px;
}

.link {
    color: white;
}

/*-------Section----------*/

section {
    width: 300px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: white; 

}

.sections {
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
/*------Alignment---------*/
.section1 {
    padding:10px;
    transition: 0.3s;
    margin-left: 10px;
    
} 

.section1:hover {
    box-shadow: 3px 3px 3px 3px gray;
}
/*-------Repetition--------*/
.section2 {
    padding:10px;
    transition: 0.3s;
    grid-column: 1;
    grid-row: 2;
    margin-left: 10px;
    margin-top: 50px;

} 

.section2:hover {
    box-shadow: 3px 3px 3px 3px gray;
}

/*-----Contrast----------*/
.section3 {
    padding:10px;
    transition: 0.3s;
    grid-column: 1;
    grid-row: 3;
    margin-left: 10px;
    margin-top: 50px;

} 

.section3:hover {
    box-shadow: 3px 3px 3px 3px gray;
}


/*-----Images-----*/
 #image1 {
     margin-left: 23px;
 }

 #image2 {
    margin-left: 23px;
}

#image3 {
    margin-left: 23px;
}
