
body {
    margin: auto;

}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}



.image0 {
    box-shadow: -3px 3px 3px gray;
    margin-right: 60px;
    margin-top: 10px;
    margin-left: 30px;
    float: right;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}


a:hover {
    background-color: lightgreen;
    transition: 1s;
}


a:link {
    text-decoration: none; 
}

.link {
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
}

hr {
    text-align: left;
}

/*------Me----*/
.heading5 {
    color: white;
    background-color: blue;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 30px; 
    text-align: left;

}


/*-----------Footer----------*/
.footer1 {
    color: white;
    background-color: blue;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
}



/*---------------@Media--------------*/

@media only screen and (max-width: 500px) {
    .heading5 {
        color: white;
        background-color: blue;
        padding: 10px;
        font-size: 20px; 
        text-align: center;
    
    } 

    .footer1 {
        padding: 10px;
        font-size: 12px;
    }

    .footer2 {
        margin-left: 95px;
    }

    #Date {
        margin-left: 170px;
    }

}