body {
    margin: 100px;

}

.image0 {
    box-shadow: -3px 3px 3px gray;
    margin-right: 60px;
    margin-top: 10px;
    width: 250px;
    margin-left: 30px;
}

/*------Me----*/
.heading5 {
    color: white;
    background-color: blue;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 30px;
    width: 250px;
    height: 30px; 
    margin-left: 9px;
    text-align: center;

}



.footer1 {
    color: white;
    background-color: blue;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 10px;
    width: 290px;
    height: 50px; 
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a:link {
    text-decoration: none; 
}

.link {
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
}

hr {
    width: 300px;
    margin-right: 700px;
    text-align: left;
}

/*---------------Design Principles--------------*/