body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif; 
}

p {
    font-family: 'Montserrat', sans-serif;
}


/*-----HEADER--------*/


img.logo-300-new {
    width: 30%;
}


/*------NAVIGATION-------*/

ul#primaryNav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color:#1a1a1a;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    max-width: 800px;

    
}

nav {
    background-color: #1a1a1a;
}

li {
    float: left;
}

li a.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #999999;
}

button {
    display: none;
}

#active {
    background-color: #1f7a1f;
    color: white;
}


/*
RENTAL-AGREEMENT
*/
.rental-agreement {
    max-width: 700px;
    margin: auto;
}

/*
FORM
*/
.reservation {
    max-width: 700px;
    margin: auto;
}

/*
FOOTER-1
*/
.sources-contacts {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    background-color: #e6e6e6;
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 150px;
}




/*
FOOTER-2
*/
/*---------FOOTER------*/
.copy-right {
    margin-top: 10px;
    text-align: center;
}

