/* Variables */

// Fonts

// Colors
$color-border: red; // red
$color-box-shadow: #A9A9A9; // grey

// Size
$size-with: 300px;
$size-height: 400px;

// Radius
$radius-border: 10px;
 
main {
    max-width: 890px;
    margin: auto;
    margin-top: 20px;
}

.svg-card-1 {
    border: 1px solid $color-border;
    width: $size-with;
    height: $size-height;
    border-radius: $radius-border;
    box-shadow: 6px 20px 20px -9px $color-box-shadow;
}

.svg-card-2 {
    border: 1px solid $color-border;
    width: $size-with;
    height: $size-height;
    border-radius: $radius-border;
    box-shadow: 6px 20px 20px -9px $color-box-shadow;
}
