/*--
Color scheme = #1d7ec3 (blue), #64ce8d (lightgreen), #fffbfa (white)
font-family: 'Roboto', sans-serif; (Header)
font-family: 'Montserrat', sans-serif; (Paragraph)
--*/

body {
    margin: 0;
}

