//$color-font-header: rgba(190, 227, 216, 1);
@import url("");

@media only screen and (max-width: 360px) {

    body {
        margin: 0;
    }

    /* Section */
    .intro {
        position: relative;
    }

    img.img-nature {
        width: 354px;
        height: 200px;
    }

    // Header
    header[role=banner]     {
        background: rgba(190, 227, 216, 0.6);
        padding: 20px;
        font-size: 10px;
        position: absolute;
        top: 40px;
        left: 60px;
    }

    .preamble {
        margin: 10px;

        & > h3 {
            color: $color-font-header;
        }
    }

    h3 {
        color: $color-font-header;
    }
    /**/
    // Sp What is This About?
    .explanation {
        margin: 10px;
    }

    .participation {
        margin: 10px;
    }

    .benefits {
        margin: 10px;
    }

    .requirements {
        margin: 10px;
        background: red;
    }

    /* Footer */

}