body {
    margin: 0;
}

/*-----HEADER--------*/
/*------NAVIGATION-------*/
button.burger-menu {
    display: hide;
}



/*
SECTION-1
*/
/*-------WEATHER SUMMARY-------*/
.section-weather-summary {
    position: relative;
    width: 100%;
    margin: auto;
    background-image: url("img-cozumel-cover-750.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.weather-summary-1 {
    position: absolute;
    bottom: 30%;
    right: 70%;
    left: 10%;
    top: 10%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: white;
    padding-left: 1%;
    width: 30%;
}

/*
Section-2
*/
/*-------SECTION-IMAGES----------*/
.section-images {
    width: 70%;
    margin: auto;
}

.island-1-500 {
    width: 40%;
    margin-right: 10px;
    float: left;
}


.picture-1 {
    margin-bottom: 150px;
}

.island-2-500 {
    width: 40%;
    transition: width 2s;
    margin-right: 10px;
    float: right;
    
}

.island-2-500:hover {
    width: 450px;
}

.paragaph-2 {
    margin-right: 15px;
}

/*
FOOTER-2
*/
/*---------FOOTER------*/
.copy-right {
    margin-top: 500px;
}


