@import '_variables';

body {
    background: $background-color;
}

main {
    font-family: 'Montserrat';
    max-width: 960px;
    margin: auto;
}

/******* Display Types and Normal Flow *******/
li {
    display: inline;
    margin: 50px;
}