body {
    margin: 0;
}

/*
SECTION-1
*/
.section-images {
    max-width: 900px;
    margin: auto;
}

.hi-places-in-cozumel {
    text-align: center;
}

/*--PICTURE-1--*/
.island-1-500 {
    width: 50%;
    margin-right: 10px;
    float: left;
}

.picture-1 {
    margin-bottom: 250px;
}

/*--PICTURE-2--*/
.island-2-500 {
    width: 50%;
    margin-right: 10px;
    float: right;
}

.picture-2 {
    margin-bottom: 250px;
}

/*--PICTURE-3--*/
.island-3-500 {
    width: 50%;
    margin-right: 10px;
    float: left;
}

.picture-3 {
    margin-bottom: 250px;
}

/*--PICTURE-4--*/
.island-4-500 {
    width: 50%;
    margin-right: 10px;
    float: right;
}

.picture-4 {
    margin-bottom: 250px;
}

/*
FOOTER-1
*/
.sources-contacts {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}