/* Variables */
/* Variables */
@media only screen and (max-width: 320px) {
  body {
    margin: 0;
  }

  /* Section */
  .intro {
    position: relative;
  }

  img.img-nature {
    width: 300px;
    height: 200px;
  }

  header[role=banner] {
    background: linear-gradient(to right, rgba(190, 227, 216, 0.9), rgba(190, 227, 216, 0.4));
    padding: 20px;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 160px;
    color: green;
    line-height: 1px;
  }
  header[role=banner] > h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
  }
  header[role=banner] > h2 {
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .summary {
    margin: 10px;
    font-family: "Montserrat", sans-serif;
  }

  .preamble {
    margin: 10px;
  }
  .preamble > h3 {
    color: green;
    font-family: "Source Sans Pro", sans-serif;
  }
  .preamble p {
    font-family: "Montserrat", sans-serif;
  }

  /**/
  .explanation {
    margin: 10px;
  }
  .explanation > h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: green;
  }
  .explanation p {
    font-family: "Montserrat", sans-serif;
  }

  .participation {
    margin: 10px;
  }
  .participation > h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: green;
  }
  .participation p {
    font-family: "Montserrat", sans-serif;
  }

  .benefits {
    margin: 10px;
  }
  .benefits > h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: green;
  }
  .benefits p {
    font-family: "Montserrat", sans-serif;
  }

  .requirements {
    margin: 10px;
  }
  .requirements > h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: green;
  }
  .requirements p {
    font-family: "Montserrat", sans-serif;
  }

  /* Footer */
  footer {
    background: #ffd6ba;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 200px;
  }
  footer [title] {
    border: 1px solid green;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    text-align: center;
  }

  .design-selection {
    position: relative;
    bottom: 180px;
    background: #ffd6ba;
  }
}
/* Variables */
@media only screen and (max-width: 412px) {
  body {
    margin: 0;
    background: blue;
  }

  /* Section */
  .intro {
    position: relative;
  }

  img.img-nature {
    width: 393px;
    height: 200px;
  }

  header[role=banner] {
    background: linear-gradient(to right, rgba(190, 227, 216, 0.9), rgba(190, 227, 216, 0.4));
    padding: 20px;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 353px;
    height: 160px;
    color: green;
    line-height: 1px;
  }
  header[role=banner] > h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
  }
  header[role=banner] > h2 {
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .summary {
    margin: 10px;
    font-family: "Montserrat", sans-serif;
  }

  .preamble {
    margin: 10px;
  }
  .preamble > h3 {
    color: green;
    font-family: "Source Sans Pro", sans-serif;
  }
  .preamble p {
    font-family: "Montserrat", sans-serif;
  }

  /**/
  .explanation {
    margin: 10px;
  }
  .explanation > h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: green;
  }
  .explanation p {
    font-family: "Montserrat", sans-serif;
  }

  .participation {
    margin: 10px;
  }
  .participation > h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: green;
  }
  .participation p {
    font-family: "Montserrat", sans-serif;
  }

  .benefits {
    margin: 10px;
  }
  .benefits > h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: green;
  }
  .benefits p {
    font-family: "Montserrat", sans-serif;
  }

  .requirements {
    margin: 10px;
  }
  .requirements > h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: green;
  }
  .requirements p {
    font-family: "Montserrat", sans-serif;
  }

  /* Footer */
  footer {
    background: #ffd6ba;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 200px;
  }
  footer [title] {
    border: 1px solid green;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    text-align: center;
  }

  .design-selection {
    position: relative;
    bottom: 180px;
    background: #ffd6ba;
  }

  .design-archives h3 {
    display: none;
  }
}
body {
  background: red;
}

/*# sourceMappingURL=index.css.map */
