body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif; 
}

p {
    font-family: 'Montserrat', sans-serif;
}
/*
RENTAL-AGREEMENT
*/
.rental-agreement {
    max-width: 700px;
    margin: auto;
}

/*
FORM
*/
.reservation {
    max-width: 700px;
    margin: auto;
}

/*
FOOTER-1
*/
.sources-contacts {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
