// Fonts
@import url("/Advance CSS New/Zen Garden Styleguide/partials/_fonts.scss");

// Colors
@import url("/Advance CSS New/Zen Garden Styleguide/partials/_colors.scss");


/* Variables */
// Colors
$color-primary: hsla(120, 100%, 25%, 1);
$color-secondary: Black;
$color-third: white;
$color-fourth: hsla(350, 100%, 88%, 1);

// Fonts
$font-type-paragraph: 'Montserrat',
sans-serif;
$font-type-header: 'Source Sans Pro',
sans-serif;



//----------------------------

body {
    margin: 0px;
}

/* Main */
main {
    max-width: 860px;
    margin: auto;

    h1 {
        text-align: center;
        font-family: $font-type-header;

        @media only screen and (max-width: 400px) {
            & {
                font-size: 15px;
            }
        }

    }

    h2 {
        color: $color-primary;
        font-family: $font-type-header;
        background: $color-fourth;
        padding: 10px;

        @media only screen and (max-width: 400px) {
            & {
                font-size: 15px;
            }
        }
    }

}


/* Nav */
nav>ul.cd-main-nav {
    background-color: hsla(120, 100%, 25%, 0.9);
    margin: 0;
    padding: 20px;
    text-align: center;

    li {
        display: inline-flex;
        margin: 15px;
        font-size: 20px;
        font-family: $font-type-header;

        @media only screen and (max-width: 400px) {
            & {
                font-size: 10px;
                margin: 5px;
            }
        }

        & a {
            color: white;
            text-decoration: none;

            &:link {
                color: white;
            }

            &:visited {
                color: white;
            }

            &:hover {
                text-decoration: underline;
            }

            &:active {
                text-decoration: underline;
            }

        }
    }
}

/* Purpose */


/* Images */


/* Colors */

/* Typography */
p {
    font-family: $font-type-paragraph;
}


/* Buttons */



/* Icons */
.fab {
    font-size: 150px;
    color: red;
}

.fas {
    font-size: 150px;
    color: red;
}

/* Navigation */

/* Groups */
.cd-groups p {
    font-family: $font-type-paragraph;
}


/* Wireframes */
.cd-box img {
    width: 400px;
}