// Fonts
@import url("/Advance CSS New/Zen Garden Styleguide/partials/_fonts.scss");

// Colors
@import url("");


/* Variables */
// Colors
$color-primary: hsla(120, 100%, 25%, 1);
$color-secondary: Black;
$color-third: white;
$color-fourth: hsla(350, 100%, 88%, 1); 

// Fonts
$font-type-paragraph: 'Montserrat', sans-serif;
$font-type-header: 'Source Sans Pro', sans-serif;



//----------------------------

body {
    margin: 0px;
}

/* Main */
main {
    max-width: 960px;
    margin: auto;
}

main > h1 {
    text-align: center;
    font-family: $font-type-header;
}

h2{
    color: $color-primary;
    font-family: $font-type-header;
}

/* Nav */
nav>ul.cd-main-nav {
    background-color: hsla(120, 100%, 25%, 0.9);
    margin: 0;
    padding: 20px;
    text-align: center;

    li {
        display: inline-flex;
        margin: 15px;
        font-size: 1.8vw;
        font-family: $font-type-header;

        & a {
            color: white;
            text-decoration: none;

            &:link {
                color: white;
            }

            &:visited {
                color: white;
            }

            &:hover {
                text-decoration: underline;
            }

            &:active {
                text-decoration: underline;
            }

        }
    }
}

/* Purpose */


/* Images */


/* Colors */

/* Typography */
p {
    font-family: $font-type-paragraph;
}


/* Buttons */



/* Icons */
.fab {
    font-size: 200px;
    color: red;
}

.fas {
    font-size: 200px;
    color: red;
}

/* Navigation */

/* Groups */
.cd-groups p {
    font-family: $font-type-paragraph;
}


/* Wireframes */
.cd-box img {
    width: 500px;
}