// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body {
    margin: 0px;
}

main {
    max-width: 960px;
    margin: auto;
}

/* Nav */
nav > ul.cd-main-nav {
    background-color: green;
    margin: 0;
    padding: 20px;
    text-align: center;
    li {
        display: inline-flex;
        margin: 15px;
        font-size: 30px;

        & a {
            color: white;
        }
    }
}

/* Icons */
.fab {
    font-size: 200px;
    color: red;
}