@media only screen and (max-width: 759px) {
    .img-nature{
        height: 300px;
        width: 500px;
        background-image: url(../imageszn/image1.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        color:beige;
    
    }
}