/*-----------------@media 700------------*/
@media only screen and (max-width: 700px) {

body {
    margin: auto;
}
                                        
/*------NAVIGATION-----*/
ul {
    font-size: 15px;
    max-width: 700px;
    margin: auto;
    
 }
 
 
 li {
    float: left;
    max-width: 700px;
    margin: auto;
 }
 
 
                                        
                                        
                                        
/*-------------------GALLERY / @Media700--------------------*/

h1.h1-gallery {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

div.picgallery {
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.img1-snow1300 {
    margin-bottom: 5px;
    width: 100%;
}

.img2-snow {
    margin-bottom: 5px;
    width: 100%;

}

.img3-snow {
    margin-bottom: 5px;
    width: 100%;
}

.img4-rainy {
    margin-bottom: 5px;
    width: 100%;
}

.img5-rainy {
    margin-bottom: 5px;
    width: 100%;
}

.img6-rainy {
    margin-bottom: 5px;
    width: 100%;
}

.img7-sunny {
    margin-bottom: 5px;
    width: 100%;
}

.img8-sunny {
    margin-bottom: 5px;
    width: 100%;
}

.img9-sunny {
    margin-bottom: 5px;
    width: 100%;
}

/*-----------------GREETINGS / @Media700-------------------*/
#Greetings {
    padding: 15px 15px;
    text-align: center;  
}


/*-----------Box 4 Grid / Map & Icons / @Media700--------*/


.box4grid {
grid-template-columns: .5fr .5fr;
width: 100%;
}

.map {
grid-column: 1;
width: 100%;

}

.icons p {
grid-column: 2;
font-size: 15px;
margin-right: 10px;
margin-left: 10px;
}

.preston780 {
width: 100%;
}

img {
filter: blur(0em);
transition: filter 0.1s;
}

/*-------------------FOOTER / @Media700--------------------*/
.footer1 {
text-align: center;
font-size: 12px;

}

#Date {
font-family: 'Montserrat', sans-serif;
font-size: 12px;
}


}





                                    /*------------@Media400-----*/

@media only screen and (max-width: 400px) {


/*-------------------GALLERY / @Media400--------------------*/
body {
max-width: 100%;
}

/*---------NAVIGATION---------*/

nav {
background-color: #1d7ec3;
}


li a {
color: white;
text-decoration: none;
}

nav ul.hide {
display: none;
}

li a:hover {
background-color: #64ce8d;
}

.menu {
display:contents;
color: white;
padding: 15px 15px;
font-family: 'Roboto', sans-serif;
}



#primaryNav {
text-align: left;
}



/*--------GALLERY / @Media400-----------*/
h1.h1-gallery {
text-align: center;
padding: 10px;
font-size: 30px;
}

div.picgallery {
margin: auto;
display: grid;
grid-template-columns: 1fr;
}

img {
filter: blur(0em);
transition: filter 0.1s;
}

.img1-snow1300 {
margin-bottom: 5px;
width: 100%;
}

.img2-snow {
margin-bottom: 5px;
width: 100%;

}

.img3-snow {
margin-bottom: 5px;
width: 100%;
}

.img4-rainy {
margin-bottom: 5px;
width: 100%;
}

.img5-rainy {
margin-bottom: 5px;
width: 100%;
}

.img6-rainy {
margin-bottom: 5px;
width: 100%;
}

.img7-sunny {
margin-bottom: 5px;
width: 100%;
}

.img8-sunny {
margin-bottom: 5px;
width: 100%;
}

.img9-sunny {
margin-bottom: 5px;
width: 100%;
}

/*-----------Box 4 Grid / Map & Icons / @Media400--------*/


.box4grid {
display: block;
margin-left: 0px;
}

.map {
grid-column: 1;
}

.icons {
font-size: 15px;
margin-left: 50px;
margin-bottom: 50px;
}
}

                                        
                                            
                                        
                                        