
     /*--
Color scheme = #1d7ec3 (blue), #64ce8d (lightgreen), #fffbfa (white)
font-family: 'Roboto', sans-serif; (Header)
font-family: 'Montserrat', sans-serif; (Paragraph)
--*/
body {
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    background-color: #1d7ec3;
    color: white;
    font-style: normal;

}

p {
    font-family: 'Montserrat', sans-serif;
}

/*-----logo---
picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
*/


/*------NAVIGATION-----*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #1d7ec3;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    max-width: 800px;
    margin: auto;
    
}

nav {
    background-color: #1d7ec3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #64ce8d;
}

button {
    display: none;
}

#active {
    background-color: #64ce8d;
    color: white;
}


/*-----header----*/


#Greetings {
    background-color: yellowgreen;
    padding: 15px 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
}

header {
    background-color: gray;
    padding: 5px 8px;
    display: flex;
    align-content: center;
    justify-content: center;
}

header img {
    width: 88px;
    height: auto;
}

.sitename {
    background-color:gray;
    color: white;
}

 small {
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

.headings {
    flex-direction: column;
}

/*--------Main-------*/

h1.preston {
    text-align: center;
    background-color: white;
    color:  #1d7ec3;
    font-size: 40px;
    
}

main {
  padding: 15px;  
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  

}

/*----------GALLERY----------*/

h1.h1-gallery {
    text-align: center;
    padding: 15px;
    font-size: 50px;
}

div.picgallery {
    margin: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.img1-snow1300 {
    margin-bottom: 10px;
    width: 100%;
}

.img2-snow {
    margin-bottom: 10px;
    width: 100%;

}

.img3-snow {
    margin-bottom: 10px;
    width: 100%;
}

.img4-rainy {
    margin-bottom: 10px;
    width: 100%;
}

.img5-rainy {
    margin-bottom: 10px;
    width: 100%;
}

.img6-rainy {
    margin-bottom: 10px;
    width: 100%;
}

.img7-sunny {
    margin-bottom: 10px;
    width: 100%;
}

.img8-sunny {
    margin-bottom: 10px;
    width: 100%;
}

.img9-sunny {
    margin-bottom: 10px;
    width: 100%;
}


/*-----------Box 4 Grid / Map & Icons--------*/


.box4grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
}

.map {
    grid-column: 1;
}

.icons {
    grid-column: 2;
}

/*-----FOOTER-----*/

footer {
    text-align: center;

}

#Date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
