
@media only screen and (max-width: 700px) {

    /*------NAVIGATION-----*/
ul {
    font-size: 18px;
}



li {
    float: none;
}



    #Greetings {
      
        padding: 12px;
        padding-left: 0px;  
    }


/*-----------MAIN---------*/

h1.preston {
    text-align: center;
    background-color: white;
    color:  #1d7ec3;
    font-size: 30px;
    
}

.weathersummary {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 140px;
    margin-left: 10px;
    margin-right: 150px;
    margin-bottom: 300px;
    
}

/*-----------CONTENT BOX 1--------*/

.contentbox1 {
    position: relative;
}

.weathersummary {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 140px;
    margin-left: 10px;
    margin-right: 120px;
    margin-bottom: 20px;
    
}

.weathersummary1 {
    font-size: 20px;
    background: none;
}

.weathersummarypar{
    font-size: 15px;
}

.preston {
    margin-left: 0px;
    width: 96%;
}


/*-----------CONTENT BOX 2/5 DAY FORECAST--------*/

.contentbox2 {
    padding: 12px;
    margin: 7px;
}

.box {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .5fr .5fr .5fr;
}

.monday {
    grid-column: 1;
    grid-row: 1;
    border: 1px;
    margin: 7px;
    padding: 10px;
}

.tuesday {
    grid-column: 2;
    background-color:  gray;
    border: 1px;
    border: 1px;
    margin: 7px;
    text-align: center;
}

.wednesday {
    grid-column: 1;
    grid-row: 2;
    background-color:  gray;
    border: 1px;
    border: 1px;
    margin: 7px;
    text-align: center;
}

.thursday {
    grid-column: 2;
    grid-row: 2;
    background-color:  gray;
    border: 1px;
    border: 1px;
    margin: 7px;
    text-align: center;
}

.friday {
    grid-column: 1;
    grid-row: 3;
    background-color: gray;
    border: 1px;
    border: 1px;
    margin: 7px;
    text-align: center;
}


h2.h2-forecast {
    background-color: #1d7ec3;
    text-align: center;
    font-size: 30px;
}

h3.forecast-day {
    background-color: gray;
}

/*-----------CONTENT BOX 3--------*/

.contentbox3 {
    background-color:#1d7ec3;
    padding: 15px;
    margin: 10px;
}

.PrestonArt400 {
    float: right;
    width: 100%;
    margin: auto;
}

.lorempar {
    font-size: 18px;
}

h2.h2-article {
    font-size: 25px;
    text-align: center;
}

/*-----------CONTENT BOX 4--------*/

.contentbox4 {
    background-color: #1d7ec3;
    padding: 15px;
    margin: 10px;
}

.box4grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.map {
    grid-column: 1;
    
}

.icons {
    grid-column: 2;
    font-size: 15px;;
}

.preston780 {
    width: 70%;

}

/*-----FOOTER-----*/

footer {
    text-align: center;

}

#Date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}




  }



  /*----------------------------------------@Media 400---------------------------------------------------*/
  @media only screen and (max-width: 400px) {

    #Greetings {
      
        padding: 12px 12px;
        padding-left: 0px;  
    }


/*-----------MAIN---------*/

.weathersummary {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 140px;
    margin-left: 10px;
    margin-right: 150px;
    margin-bottom: 300px;
    
}


/*-----------CONTENT BOX 2/5 DAY FORECAST--------*/

.contentbox2 {
    padding: 12px;
    margin: 7px;
}

.box {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .5fr .5fr .5fr;
}

.monday {
    grid-column: 1;
    grid-row: 1;
    border: 1px;
    margin: 7px;
    padding: 10px;
}

.tuesday {
    grid-column: 2;
    background-color:  gray;
    border: 1px;
    border: 1px;
    margin: 7px;
    text-align: center;
}

.wednesday {
    grid-column: 1;
    grid-row: 2;
    background-color:  gray;
    border: 1px;
    border: 1px;
    margin: 7px;
    text-align: center;
}

.thursday {
    grid-column: 2;
    grid-row: 2;
    background-color:  gray;
    border: 1px;
    border: 1px;
    margin: 7px;
    text-align: center;
}

.friday {
    grid-column: 1;
    grid-row: 3;
    background-color: gray;
    border: 1px;
    border: 1px;
    margin: 7px;
    text-align: center;
}


h2.forecast {
    background-color: #1d7ec3;
    text-align: center;
}

h3.forecast-day {
    background-color: gray;
}


  }