
     /*--
Color scheme = #1d7ec3 (blue), #64ce8d (lightgreen), #fffbfa (white)
font-family: 'Roboto', sans-serif; (Header)
font-family: 'Montserrat', sans-serif; (Paragraph)
--*/
body {
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    background-color: #1d7ec3;
    color: white;
    font-style: normal;

}

p {
    font-family: 'Montserrat', sans-serif;
}

/*-----logo---
picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
*/


/*------NAVIGATION-----*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #1d7ec3;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
}

nav {
    background-color: #1d7ec3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #64ce8d;
}

button {
    display: none;
}

#active {
    background-color: #64ce8d;
    color: white;
}


/*-----HEADER----*/


#Greetings {
    background-color: yellowgreen;
    padding: 15px 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%; 
}

header {
    background-color: gray;
    padding: 5px 8px;
    display: flex;
    align-content: center;
    justify-content: center;
}

header img {
    width: 88px;
    height: auto;
}

.sitename {
    background-color:gray;
    color: white;
}

 small {
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

.headings {
    flex-direction: column;
}

/*--------MAIN-------*/

h1.preston {
    text-align: center;
    background-color: white;
    color:  #1d7ec3;
    font-size: 40px;
    
}

main {
  padding: 15px;  
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  width: 100%;
  margin: auto;
}

.weathersummary {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 140px;
    margin-left: 10px;
    margin-right: 850px;
    margin-bottom: 300px;
    
}


/*-----------CONTENT BOX 1--------*/

.contentbox1 {
    position: relative;
}

.weathersummary {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 140px;
    margin-left: 10px;
    margin-right: 850px;
    margin-bottom: 300px;
    
}

.weathersummary1 {
    font-size: 20px;
    background: none;
}

.weathersummarypar{
    font-size: 15px;
}

.preston {
    width: 100%;
    margin: auto;
}


/*-----------CONTENT BOX 2/5 DAY FORECAST--------*/

.contentbox2 {
    background-color: #1d7ec3;
    padding: 15px;
    margin: 10px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.monday {
    background-color: gray;
    border: 1px;
    margin: 10px;
    padding: 12px;
    text-align: center;
}

.tuesday {
    background-color:  gray;
    border: 1px;
    margin: 10px;
    padding: 12px;
    text-align: center;
}

.wednesday {
    background-color:  gray;
    border: 1px;
    margin: 10px;
    padding: 12px;
    text-align: center;
}

.thursday {
    background-color:  gray;
    border: 1px;
    margin: 10px;
    padding: 12px;
    text-align: center;
}

.friday {
    background-color: gray;
    border: 1px;
    margin: 10px;
    padding: 12px;
    text-align: center;
}


h2.forecast {
    background-color: #1d7ec3;
    text-align: center;
}

h3.forecast-day {
    background-color: gray;
}




/*-----------CONTENT BOX 3--------*/

.contentbox3 {
    background-color:#1d7ec3;
    padding: 15px;
    margin: 10px;
}

.PrestonArt400 {
    float: right;
}

.lorempar {
    font-size: 22px;
}

/*-----------CONTENT BOX 4--------*/

.contentbox4 {
    background-color: #1d7ec3;
    padding: 15px;
    margin: 10px;
}

.box4grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.map {
    grid-column: 1;
    
}

.icons {
    grid-column: 2;
}

.preston780 {
    width: 50%;

}

/*-----FOOTER-----*/

footer {
    text-align: center;

}

#Date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

