@media only screen and (max-width: 700px) {

     /*------NAVIGATION-----*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #1d7ec3;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    max-width: 800px;
    margin: auto;
    
}

nav {
    background-color: #1d7ec3;
}

li {
    float: left;
    font-size: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #64ce8d;
}

button {
    display: none;
}

#active {
    background-color: #64ce8d;
    color: white;
}


  /*-----------FORMS----------*/
#Forms {
      border: 1px solid gray;
      border-radius: 10px;
      align-items: center;
      box-shadow: 1px 2px 10px #888888;
      margin-bottom: 30px;
      margin: 50px;
      font-size: 10px;
      
  }
  
  .form1 {
      align-items: center;
      margin: 15px;
  }
  
  #fullname {
      margin-bottom: 15px;
  }
  
  #Email {
      margin-bottom: 15px;
  }
  
  #Phone {
      margin-bottom: 15px;
  }
  
  #Code {
      margin-bottom: 15px;
  }
  
  #Storm {
      margin-bottom: 15px;
  }
  
  #storm-Type {
      margin-bottom: 15px;
  }
  
  #storm-severity {
      margin-bottom: 15px;
  }
  
  #storm-region {
      margin-bottom: 15px;
  }
  
  select {
      font-family: 'Montserrat', sans-serif;
      padding: 5px;
  }
  
  #no {
      margin-bottom: 20px;
  }
  
  #comments {
      margin: 0px;
  }
  
  #Submit {
      border: 1px solid white;
      padding: 10px;
      
  }
  
  #Submit:hover {
      background-color: #1d7ec3;
      color: white;
  }
  
  
  label {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
  }
  
  input {
      padding: 5px;
      font-family: 'Montserrat', sans-serif;
      border-radius: 5px;
      border-color: lightgrey;
  }

  /*-----------CONTENT BOX 4--------*/

.contentbox4 {
    padding: 10px;
    margin: 5px;
}

.box4grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.map {
    grid-column: 1;
    
}

.icons {
    grid-column: 2;
    font-size: 20px;
}

.preston780 {
    width: 90%;
}

.h2-forecast {
    font-size: 25px;
    text-align: center;
}

/*-----FOOTER-----*/

footer {
    text-align: center;
    max-width: 700px;
    margin: auto;
    font-size: 12px;

}

#Date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

  
    
      }
    
    

    
/*-----------------------------------------@Media 400------------------------------------------------*/
    
    @media only screen and (max-width: 400px) {
    
    

      ul {
            padding: 0px;
        }
        
        nav {
                background-color: #1d7ec3;
            }
            
            
            li a {
                color: white;
                text-decoration: none;
            }
            
            
            li a:hover {
                background-color: #64ce8d;
            }
            
            button {
                display:contents;
                color: white;
            }
        
            .menu {
                text-align: center;
                font-family: 'Roboto', sans-serif;
                
            }

            nav ul.hide {
                display: none;
            }
        
            #Greetings {
                padding: 15px 15px;
                font-size: 12px;
            }
        
            #primaryNav {
                text-align: left;
            }
   
/*-----------CONTENT BOX 4--------*/

.contentbox4 {
    padding: 10px;
    margin: 5px;
}

.box4grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.map {
    grid-column: 1;
    
}

.icons {
    grid-column: 1;
    grid-row: 2;
    font-size: 15px;
}

.preston780 {
    width: 50%;
    margin: auto;
}

.h2-forecast {
    font-size: 25px;
    text-align: center;
}

/*-----FOOTER-----*/

footer {
    text-align: center;
    max-width: 400px;
    margin: auto;
    font-size: 12px;

}

#Date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


    }
    
    
    