
     /*--
Color scheme = #1d7ec3 (blue), #64ce8d (lightgreen), #fffbfa (white)
font-family: 'Roboto', sans-serif; (Header)
font-family: 'Montserrat', sans-serif; (Paragraph)
--*/
body {
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    background-color: #1d7ec3;
    color: white;
    font-style: normal;

}

p {
    font-family: 'Montserrat', sans-serif;
}

/*-----logo---
picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
*/


/*------Navigation-----*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d7ec3;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
}

nav {
    background-color: #1d7ec3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #64ce8d;
}

button {
    display: none;
}

/*-----Footer-----*/

footer {
    text-align: center;
}

#Date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/*-----header----*/


#Greetings {
    background-color: yellowgreen;
    padding: 15px 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 400px;
    
}

header {
    background-color: gray;
    padding: 5px 8px;
    display: flex;
    align-content: center;
    justify-content: center;
}

header img {
    width: 88px;
    height: auto;
}

.sitename {
    background-color:gray;
    color: white;
}

 small {
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

.headings {
    flex-direction: column;
}

/*--------Main-------*/

.preston {
    text-align: center;
    background-color: white;
    color: black;
}

main {
  padding: 15px;  
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  

}


/*-----------Content Box 1--------*/

.contentbox1 {
    background-color: #1d7ec3;
    padding: 15px;
    margin: 10px;
    padding-bottom: 150px;

}

.weathersummary {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 870px;
    padding-left: 50px;
    padding-right: 30px;
    background-color: gray;
    border: 1px solid gray;
    box-shadow: 5px 5px 8px lightgray;

}

.weathersummary1 {
    background-color: gray;
    margin-bottom: 10px;
    font-size: 20px;
}

.weathersummarypar{
    font-size: 15px;
}



/*-----------Content Box 2--------*/

.contentbox2 {
    background-color: gray;
    padding: 15px;
    margin: 10px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    
}

.box1 {
    grid-column: 1;
    background-color: red;
    border: 1px;
    margin: 12px;
}

.box2 {
    grid-column: 2;
    background-color: red;
    border: 1px;
    margin: 12px;
}

.box3 {
    grid-column: 3;
    background-color: red;
    border: 1px;
    margin: 12px;
}

.box4 {
    grid-column: 4;
    background-color: red;
    border: 1px;
    margin: 12px;
}

.box5 {
    grid-column: 5;
    background-color: red;
    border: 1px;
    margin: 12px;
}





/*-----------Content Box 3--------*/

.contentbox3 {
    background-color: gray;
    padding: 15px;
    margin: 10px;
}

/*-----------Content Box 4--------*/

.contentbox4 {
    background-color: gray;
    padding: 15px;
    margin: 10px;
}



/*-----------------@media------------*/

@media only screen and (max-width: 800px) {
    footer {
        margin-left: 200px;
        font-size: 15px;
    }

    #Date {
        margin-left: 100px;
    }

  }

@media only screen and (max-width: 500px) {
    footer {
        margin-left: 90px;
        font-size: 12px;
    }

    #Date {
        margin-left: 80px;
    }


    nav {
        background-color: #1d7ec3;
    }
    
    
    li a {
        color: white;
        text-decoration: none;
    }
    
    nav ul.hide {
        display: none;
    }
    
    li a:hover {
        background-color: #64ce8d;
    }
    
    button {
        display:contents;
        color: white;
    }

    .menu {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        
    }

    #Greetings {
        padding: 15px 15px;
        font-size: 12px;
    }

    /*-------content box 1----*/
    .contentbox1 {
        background-color: #1d7ec3;
        padding: 15px;
        margin: 10px;
        padding-bottom: 15px;
    
    }
    
    .weathersummary {
        margin-top: 4px;
        margin-left: 5px;
        margin-right: 7px;
        padding-left: 50px;
        padding-right: 30px;
        background-color: gray;
        border: 1px solid gray;
        box-shadow: 5px 5px 8px lightgray;
    
    }
    
    .weathersummary1 {
        background-color: gray;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    .weathersummarypar{
        font-size: 15px;
    }

}


