
     /*--
Color scheme = #1d7ec3 (blue), #64ce8d (lightgreen), #fffbfa (white)
font-family: 'Roboto', sans-serif; (Header)
font-family: 'Montserrat', sans-serif; (Paragraph)
--*/
body {
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;

}

p {
    font-family: 'Montserrat', sans-serif;
}

/*-----logo---
picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
*/


/*------NAVIGATION-----*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d7ec3;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
}

nav {
    background-color: #1d7ec3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #64ce8d;
}

button {
    display: none;
}

#active {
    background-color: #64ce8d;
    color: white;
}

button {
    display: none;
}
/*-----FOOTER-----*/

footer {
    text-align: center;
}

#Date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/*-----HEADER----*/


#Greetings {
    background-color: yellowgreen;
    padding: 15px 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 400px;
    
}

header {
    background-color: gray;
    padding: 5px 8px;
    display: flex;
    align-content: center;
    justify-content: center;
}

header img {
    width: 88px;
    height: auto;
}

.sitename {
    background-color:gray;
    color: white;
}

 small {
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

.headings {
    flex-direction: column;
}

/*--------MAIN-------*/

.preston {
    text-align: center;
}

main {
    padding: 15px;  
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    
  }
  /*-----FOOTER-----*/
  
  footer {
      text-align: center;
  
  }
  
  #Date {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }
  
  /*---------CARDS--------*/
  h1.prophets-name {
      text-align: center;
  }
  
  
  .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      margin: 30px;
  }
  
  img.idaho-images {
      width: 100%;
      height: auto;
  }
  
  .idaho-places {
      background-color: #1d7ec3;
      transition: 0.3s;
  }
  
  .idaho-places:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  .details {
      margin: 15px;
      color: white;
  }
  



