/* Fonts */
$font-header: 'Open Sans', sans-serif;
$font-paragraph: 'Montserrat', sans-serif;


/* Font Colors */
$color-primary: #036016; // Dark green
$color-secondary: #E4572E; // orange
$color-tertiary: #96E6B3; // Lightgreen
$color-fourth: #FFFFFF; // White

$opacity-primary: hsla(132, 94%, 19%, 0.1); // Darkgreen

$color-background: #CCFCCB // lightergreen




