/* Fonts */
$font-header: 'Open Sans', sans-serif;
$font-paragraph: 'Montserrat', sans-serif;


/* Colors */
$color-primary: #036016; // Dark green
$color-secondary: #FFFFFF; // White
$color-tertiary: #96E6B3; // Lightgreen



