$backgroun-color: red;
@media only screen {
    body {
      margin: 0;
      background-color: $backgroun-color;
    }
  
    button div {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
    }
  
  
  }
  
  
