@media only screen {
    body {
      margin: 0;
      /* background-color: lightblue; */
    }
  
    button div {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
    }
  
  
  }
  
  
  
  
  @media only screen and (max-width: 340px) {
    
  
  }
  
  
  @media only screen and (max-width: 300px) {
    
  }