// Fonts
$font-header: 'Montserrat', sans-serif;
$font-paragraph: 'Open Sans', sans-serif;

// Colors
$color-primary: #038229;


@media only screen {
    body {
      margin: 0;
      // background: red;
    }

    h1, h2 {
      font-family: $font-header;
    }

    // Logo
    span {
      color: $color-primary;
      font-family: $font-header;
    }

    // Navigation links
    ul li {
      font-family: $font-paragraph;
      

      a {
        color: $color-primary;
      }
    }
  
  
  }
  
  
