//colors
$body-background-color: blue;
$form-background-color: white;
$input-color: white;
$headlines-color : white;
$header_color: white;


body {
    background-color: $body-background-color;          
}

#contactform {
    background-color: $form-background-color;
}
#contactform input, #contactform textarea {
    background-color: $input-color;
} 

h1 {
    color: $header_color;
}