/* Error: Undefined mixin.
 *    ,
 * 63 | /   @include MQ(M) {
 * 64 | |     width: 180px;
 * 65 | \   }
 *    '
 *   style-guide.scss 63:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 63 \2502  \250c    @include MQ(M) {\a 64 \2502  \2502      width: 180px;\a 65 \2502  \2514    }\a    \2575 \a   style-guide.scss 63:3  root stylesheet";
}
