/* Variables */

// Fonts
$font-header: 'Source Sans Pro', sans-serif;
$font-paragraph: 'Montserrat', sans-serif;


// Colors
$color-text-green: rgb(0, 128, 0);
$color-background-footer: rgb(255, 214, 186);
$color-gradient: linear-gradient(to right, rgba(190, 227, 216, 0.9), rgba(190, 227, 216, 0.4));
$color-border: rgb(0, 128, 0);