body {
    margin: 100px;

}

img {
    float: right;
}

h1 {
    color: white;
    width: 1066px;
    background-color: blue;
    padding: 50px;
    font-family: arial, sans serif;

}

footer {
    color: white;
    width: 1106px;
    background-color: blue;
    padding: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    font-family: arial, sans serif;
}

ul {
    font-family: "Lucida Console", "Courier New", monospace; 
}

