/* Error: @use rules must be written before any other rules.
 *   ,
 * 8 | @use 'Media Queries/index-2560';
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   graphic.scss 8:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @use rules must be written before any other rules.\a   \2577 \a 8 \2502  @use 'Media Queries/index-2560';\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   graphic.scss 8:1  root stylesheet";
}
